.title {
    margin-left: 33px;
}

.titlecolor1 {
    font-size: 55px; 
    font-weight: bold; 
    color: #a31111;
}
.titlecolor2 {
    font-size: 55px; 
    font-weight: bold; 
    color: #e2e2e2;
}
.searchset {
    font-size: 39px;
    margin-left: 29px;
}
.bar {
    cursor: pointer;
    color: #a31111;
}
.btn-outline-success {
    color: #a31111;
    background-color: transparent;
    background-image: none;
    border-color: #a31111;
}
.bg-blue {
    background-color:#64b5db;
}

.marginmenu {
    margin-top: 94px;
}
.spacemenu {
    margin-left: 140px;
}
.textmenucolor {
    background-color: #64b5db;
}

.cardtitleposition {
    margin-bottom: 0;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #a3291f;
    border-color: #a3291f;
}
.cursormenu {
    cursor: pointer;
}
.textmenu {
    font-weight: bold;
    color : whitesmoke;
}

